@model QuinielaMVC4.Models.Entities.League

@{
    ViewBag.Title = "Quiniela | Editar Liga";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.LeagueId)
    <table class="content" style="width:50%;">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Country)</td>
            <td>
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
    <input type="submit" value="Actualizar" />
    @Html.ActionLink("Volver", "LeagueList", "", new { @class = "a-button" })
}

    @*@Html.ActionLink("Volver", "LeagueList","", new { @class = "a-button" })*@


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
