@model IEnumerable<QuinielaMVC4.Models.Entities.League>

@{
    ViewBag.Title = "Quiniela | Ligas";
}

<div class="page-header">
    <div class="container">
        <br />
        
        <div class="col-sm-6">
            @Html.ActionLink("Crear nueva", "LeagueCreate", "", new { @class = "btn btn-default btn-sm" })
            <br />
            <br />
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr class="active">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @*<a href="#" class="DetailsLink" data-id="@item.LeagueId">Detalles</a> |*@
                            @Html.ActionLink("Editar", "LeagueEdit", new { id = item.LeagueId }, new { @class = "btn btn-default btn-xs" }) 
                            @Html.ActionLink("Eliminar", "LeagueDelete", new { id = item.LeagueId }, new { @class = "btn btn-danger btn-xs" })
                            @Html.ActionLink("Temporadas", "LeagueDetails", new { id = item.LeagueId }, new { @class = "btn btn-default btn-xs" }) 
                        </td>
                    </tr>
                    <tr id="row-@item.LeagueId" style="display:none"></tr>
                }

            </table>
            <a id="btnVolver" class="btn btn-default btn-sm">Volver</a>
        </div>
    </div>
</div>
