@model QuinielaMVC4.Models.Entities.League

@{
    ViewBag.Title = "Quiniela | Crear Liga";
}

<div class="page-header">
    <div class="container">
        <h2>Nueva liga</h2>
        <div class="col-md-6">
            <div class="well bs-component">
                @using (Html.BeginForm("SeasonCreate", "PoolAdministration", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control input-sm" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-right">
                            <a id="btnVolver" class="btn btn-default btn-sm">Volver</a>
                            <input type="submit" value="Crear" class="btn btn-danger btn-sm" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
