@model QuinielaMVC4.Models.ChangePasswordModel

@{
    ViewBag.Title = "Quiniela | Cambiar contraseña";
}
<div class="container">
    <div class="page-header">
        <h2>Cambiar contraseña</h2>
        <p>
            Llena el formulario para cambiar tu contraseña
        </p>
        <p>
            La nueva contraseña requiere @Membership.MinRequiredPasswordLength caracteres de longitud.
        </p>


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "No se pudo cambiar la contraseña. Verifica la información e intenta nuevamente.")
            <div>
                <fieldset>
                    <legend>Información de la cuenta</legend>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                    <p>
                        <input type="submit" value="Cambiar contraseña" class="btn btn-danger btn-sm"/>
                        <a id="btnVolver" class="btn btn-default btn-sm">Volver</a>
                    </p>
                </fieldset>
            </div>
        }
    </div>
</div>
