@if (Request.IsAuthenticated) {
        <ul class="navlist" id="menulist">
            <li>
                @Html.ActionLink("Nueva Quiniela", "Create", "Pool")
            </li>
            <li>
                @Html.ActionLink("Modificar Quiniela", "Edit", "Pool")
            </li>
            <li>
                @Html.ActionLink("Clasificación", "Classification", "Pool")
            </li>
            @if (ViewData["IsAdmin"]!= null && (bool)ViewData["IsAdmin"] == true)
            {
            <li class="optAdmin">
                @*@Html.ActionLink("Administrar info", "Index", "PoolAdministration",htmlAttributes: new { @class = "optAdmin", @href = @Url.Action("Index","PoolAdministration")})*@
                @Html.ActionLink("Administrar info", "Index", "PoolAdministration")
            </li>
            }
       </ul>
}