@if (Request.IsAuthenticated) {
        <ul class="nav navbar-nav" id="menulist">
            <li>
                @Html.ActionLink("Nueva Quiniela", "Create", "Pool")
            </li>
            <li>
                @Html.ActionLink("Modificar Quiniela", "Edit", "Pool")
            </li>
            <li>
                @Html.ActionLink("Clasificación", "Classification", "Pool")
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administración<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="administration">
                    @if (ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"] == true)
                    {
                        <li>@Html.ActionLink("Partidos", "GameList", "PoolAdministration")</li>

                        <li>@Html.ActionLink("Jornadas", "WeekList", "PoolAdministration")</li>
                        
                        <li>@Html.ActionLink("Ligas", "LeagueList", "PoolAdministration")</li>

                        <li>@Html.ActionLink("Equipos", "TeamList", "PoolAdministration")</li>
                    }
                </ul>
            </li>
       </ul>
}